mlflow==2.4
cloudpickle==2.2.1
pickleshare==0.7.5
configparser==5.3.0
importlib-metadata==6.0.0
pandas==2.0.2
numpy==1.25.2
torch==1.12.1
xgboost==1.7.3
psutil==5.9.0
scikit-learn==1.0.2
typing-extensions==4.4.0
pymysql==1.0.2
opencv-python==4.8.1.78
cryptography==41.0.3